*          text eol=lf
*.doc      diff=astextplain
*.DOC      diff=astextplain
*.docx     diff=astextplain
*.DOCX     diff=astextplain
*.pdf      diff=astextplain
*.PDF      diff=astextplain
*.md       text diff=markdown
*.mdx      text diff=markdown
*.tex      text diff=tex
*.csv      text eol=crlf
*.png      binary
*.jpg      binary
*.jpeg     binary
*.gif      binary
*.ico      binary
*.svg      text
*.bash     text eol=lf
*.sh       text eol=lf
*.bat      text eol=crlf
*.cmd      text eol=crlf
*.ps1      text eol=crlf
*.json     text
*.toml     text
*.xml      text
*.yaml     text
*.yml      text
*.7z       binary
*.gz       binary
*.lz       binary
*.lzma     binary
*.rar      binary
*.tar      binary
*.tgz      binary
*.xz       binary
*.zip      binary
app/static/* linguist-detectable=false
