.DS_Store
.env
.env.*
.output
.svelte-kit
.vscode

task
music
data
library
test
venv
mixel-music.db
mixel-music.txt

__pycache__
build
node_modules
package
vite.config.js.timestamp-*
vite.config.ts.timestamp-*