__pycache__
.pytest_cache
config/
library/
test/
*.db
*.env
*.log

Scripts/
Include/
Lib/
.venv/
*.cfg

logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo