:root {
	--app-padding-s: 16px;
  --app-padding-l: 21px;
  --app-margin-s: 16px;
  --app-margin-l: 21px;
	--app-radius: 0.5em;

	--app-font-family:
  Pretendard Variable,
  Pretendard,
  -apple-system,
  BlinkMacSystemFont,
  Noto Sans KR,
  Segoe UI,
  Apple SD Gothic Neo,
  Helvetica Neue,
  Arial,
  sans-serif;

	--color-dark-bg-1: rgb(26, 27, 27);
	--color-dark-bg-2: rgb(32, 33, 33);
	--color-dark-bg-3: rgb(41, 42, 42);

	--color-dark-nav: rgb(26, 27, 27, 0.85);
	--color-dark-nav-itm: rgb(32, 33, 33, 0.7);

	--color-dark-trk: rgb(26, 27, 27, 0.9);
	--color-dark-trk-len: rgb(47, 48, 48);
	--color-dark-trk-now: rgb(215, 215, 215);
	
	--color-dark-text-1: rgb(215, 215, 215);
  --color-dark-text-2: rgb(155, 155, 155);

	--color-dark-disabled: rgb(86, 86, 86);
	--color-dark-border: rgb(47, 48, 48);
	--color-dark-focus: rgb(155, 155, 155);
}

* {
  user-select: none;
  -webkit-user-drag: none;
}

html {
  font-family: var(--app-font-family);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: var(--color-dark-bg-1);
  color: var(--color-dark-text-1);
  font-size: 16px;
  letter-spacing: -0.2px;
  word-break: keep-all;
  word-wrap: break-word;
}

a {
  color: unset;
  text-decoration: none;
  cursor: pointer;
}

/* button:hover {
  color: var(--color-dark-focus);
  transition: all 0.1s ease;
} */

input[type='text'] {
  width: 300px;
  height: -webkit-fill-available;
  padding: 11px;
  margin: 0;
  border: 1px solid var(--color-dark-border);
  border-radius: var(--app-radius);
  background-color: var(--color-dark-nav-itm);
  color: var(--color-dark-text-2);
  font-family: var(--app-font-family);
  font-size: 16px;
  font-weight: 500;
  transition: all 0.1s ease;
  backdrop-filter: blur(32px);
}

input[type='text']:focus {
  outline: none;
  color: var(--color-dark-text-1);
  transition: all 0.1s ease;
}

.content-header {
  margin: 72px 0 21px 0;
}

.content-title {
  font-size: 64px;
  font-weight: bolder;
  letter-spacing: -1px;
}

.text-title {
  display: block;
  font-size: 95%;
  font-weight: 600;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
}

.text-description {
  display: block;
  color: var(--color-dark-text-2);
  font-size: 80%;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
}

.card-grid {
  display: grid;
  grid-gap: 21px;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  overflow-x: hidden;
}

.card {
  white-space: nowrap;
  margin-bottom: 18px;
}

.card-placeholder {
  display: flex;
  white-space: nowrap;
  flex-direction: column;
}

.card-image {
  display: block;
  width: 100%;
  object-fit: scale-down;
  aspect-ratio: 1/1;
  border-radius: var(--app-radius);
  cursor: pointer;
}

.card-image-content {
  display: block;
  background-color: var(--color-dark-bg-2);
  box-shadow: 0 0 0 1px var(--color-dark-border) inset;
  border-radius: var(--app-radius);
  aspect-ratio: 1/1;
  cursor: pointer;
}

.card-content {
  padding-top: var(--app-padding-s);
}

.btn-disabled {
  color: var(--color-dark-disabled);
}

*::-webkit-scrollbar{
  position: fixed;
  width: 0px; /* 3px */
  background-color: transparent;
}

*::-webkit-scrollbar-thumb{
  border: 4px solid var(--color-dark-border);
  background-color: transparent;
  border-radius: var(--app-radius);
}

*::-webkit-scrollbar-track{
  background-color: transparent;
}