:root {
  /* xs, s, m, l, xl */

  --space-xs: 9px;
  --space-s: 16px;
  --space-m: 21px;
  --space-l: 32px;
  --space-sl: 48px;
  --space-xl: 64px;
  --radius-s: 0.2em;
  --radius-m: 0.5em;
  --radius-l: 50%;
  --table-pad: 16px 8px;

  --black-1: rgb(18, 18, 18);
  --black-1a: rgb(18, 18, 18, 0.95);
  --black-2: rgb(22, 22, 22);
  --black-2a: rgb(22, 22, 22, 0.95);
  --black-3: rgb(26, 26, 26);
  --black-3a: rgb(26, 26, 26, 0.95);
  --black-4: rgb(32, 32, 32);
  --black-4a: rgb(32, 32, 32, 0.95);
  --black-5: rgb(46, 46, 46);
  --black-5a: rgb(24, 24, 24, 0.95);
  --black-6: rgb(86, 86, 86);
  --black-6a: rgb(86, 86, 86, 0.95);

  --white-1: rgb(242, 242, 242);
  --white-1a: rgb(242, 242, 242,  0.95);
  --white-2: rgb(237, 237, 237);
  --white-2a: rgb(237, 237, 237, 0.95);
  --white-3: rgb(232, 232, 232);
  --white-3a: rgb(232, 232, 232, 0.95);
  --white-4: rgb(215, 215, 215);
  --white-4a: rgb(215, 215, 215, 0.95);
  --white-5: rgb(166, 166, 166);
  --white-5a: rgb(166, 166, 166, 0.95);
  --white-6: rgb(155, 155, 155);
  --white-6a: rgb(155, 155, 155, 0.95);

  --dark-body: var(--black-1);
  --dark-border: var(--black-4);
  --dark-sidebar: var(--black-2);
  --dark-player: var(--black-2a);
  --dark-element: var(--black-2);
  --dark-queue: var(--black-3a);
  --dark-content: var(--black-2a);
  --dark-range: var(--black-5);
  --dark-range-now: var(--white-4);
  --dark-text: var(--white-4);
  --dark-text-sub: var(--white-5);
  --dark-focus: var(--white-6);
  --dark-hover: var(--white-6);
  --dark-disabled: var(--black-6);
  --dark-active: var(--white-4);
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
}

img,
video {
  max-width: 100%;
  height: auto;
}

* {
  user-select: none;
  -webkit-user-drag: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family:
    Pretendard Variable,
    Pretendard,
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    Noto Sans KR,
    Segoe UI,
    Apple SD Gothic Neo,
    Helvetica Neue,
    Arial,
    sans-serif;
}

*:focus {
  outline: 1px dotted var(--dark-focus);
  border-radius: var(--radius-m);
  outline-offset: -1px;
}

html {
  color: var(--dark-text);
  font-size: 15.5px;
  letter-spacing: -0.1px;
  word-break: keep-all;
  word-wrap: break-word;
}

body {
  overflow-x: hidden;
  background-color: var(--dark-body);
}

a {
  color: unset;
  text-decoration: none;
  cursor: pointer;
  display: inline;
  width: fit-content;
}

a:hover, a:focus {
  text-decoration: underline;
  outline: none;
}

button {
  cursor: pointer;
}

.text {
  width: auto;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  outline: none;
  font-size: 95%;
}

.text-sub {
  color: var(--dark-text-sub);
  font-size: 82.5%;
}

.normal {
  font-size: 95%;
}

.bold {
  font-weight: 600;
}
