:root {
    --var-global-padding: 24px;
    --var-global-padding-s: 12px;
    --var-body-primary: #101010;
    --var-body-secondary: #191919;
    --var-sub-primary: #1f1f1f;
    --var-sub-secondary: #272727;
    --var-global-radius: 9px;
}

html {
    background-color: var(--var-body-primary);
    font-size: 16px;
    line-height: 130%;
    font-family: "Pretendard";
    user-select: none;
}

body {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

.app_main {
    min-height: 100dvh;
    display: flex;
    width: 100%;
}

.app_navbar {
    width: -webkit-fill-available;
    height: 40px;
    padding: var(--var-global-padding);
    z-index: -1;
}

.app_sidebar {
    width: 270px;
    background-color: var(--var-body-secondary);
    padding: var(--var-global-padding);
}

.app_sidebar_container {
    position: fixed;
    height: auto;
}

.app_container {
    width: 100%;
}

.app_player {
    position: fixed;
    bottom: 0;
    background-color: var(--var-body-secondary);
    width: 100%;
}

.app_player_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    padding: var(--var-global-padding);
    align-items: center;
    user-select: none;
}

.music_title {
    font-weight: bold;
    letter-spacing: -0.2px;
}

.music_duration, .music_artist {
    font-size: small;
}

.player_center_control {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    width: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.player_button {
    padding: 6px;
    border-radius: var(--var-global-radius);
    box-shadow: none;
    font-size: 20px;
    border: none;
    background-color: transparent;
}

.slider_container {
    width: 100%;
    padding: 10px;
    cursor: pointer;
}

.slider_rail {
    width: 100%;
    background-color: var(--var-sub-secondary);
    height: 4px;
    border-radius: var(--var-global-radius);
}

.tracks_card {
    background-color: var(--var-sub-primary);
    padding: var(--var-global-padding-s);
    height: 165px;
    border-radius: var(--var-global-radius);
    white-space: nowrap;
    align-items: end;
    display: grid;
}

.tracks_cards_container {
    padding: 7%;
    padding-top: 0;
    margin-bottom: 7%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
    grid-gap: 32px;
    justify-content: center;
}

.tracks_title {
    display: block;
}

.track_title, .album_title {
    overflow: hidden;
    text-overflow: ellipsis;
}

.slider_step {
    width: 0;
    background-color: white;
    height: 4px;
    border-radius: var(--var-global-radius);
}
  
*::-webkit-scrollbar{
    width: 4px;
    background-color: transparent;
}

*::-webkit-scrollbar-thumb{
    background-color: transparent;
    border-radius: 10px; 
    border: 4px solid var(--var-sub-secondary);
}

*::-webkit-scrollbar-track{
    background-color:transparent;
}