:root {
    --var-global-padding: 32px;
    --var-global-padding-s: 16px;
    --var-body-primary: #181818;
    --var-body-secondary: #242424;
    --var-global-radius: 8px;
}

html {
    background-color: var(--var-body-primary);
    font-size: 16px;
    line-height: 130%;
}

body {
    margin: 0;
    padding: 0;
}

.app_navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
    padding: var(--var-global-padding-s);
    z-index: -1;
}

.app_container {
    padding: 7%;
    width: 100%;
}

.app_player {
    position: fixed;
    bottom: 0;
    background-color: var(--var-body-secondary);
    width: 100%;
}

.tracks_title {
    display: block;
}

.app_player_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    padding: var(--var-global-padding);
    align-items: center;
}

.music_title {
    font-weight: bold;
}

.app_main {
    min-height: 100dvh;
    display: flex;
    width: 100%;
}

.app_sidebar {
    width: 230px;
    background-color: var(--var-body-secondary);
    padding: var(--var-global-padding);
}

.tracks_cards_container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
    grid-gap: 32px;
    justify-content: center;
}

.tracks_card {
    background-color: var(--var-body-secondary);
    padding: var(--var-global-padding-s);
    height: 165px;
    border-radius: var(--var-global-radius);
    white-space: nowrap;
    align-items: end;
    display: grid;
}

.track_title, .album_title {
    overflow: hidden;
    text-overflow: ellipsis;
}