:root {
  --dark-color-1: #161616;
  --dark-color-2: #212121;

  --dark-text-1: #d7d7d7;
  --dark-text-2: #9b9b9b;
  
  --dark-focus: #9b9b9b;
  --dark-border: #303030;
  --dark-disbaled: #565656;
  
  --layout-padding: 21px;
  --element-padding: 16px;
  --element-radius: 6px;
}

html {
  font-family:
  Pretendard,
  -apple-system,
  BlinkMacSystemFont,
  Noto Sans KR,
  Segoe UI,
  Apple SD Gothic Neo,
  Helvetica Neue,
  Arial,
  sans-serif;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  word-break: keep-all;
  word-wrap: break-word;

  background-color: var(--dark-color-1);
  font-size: 16px;
  user-select: none;
  letter-spacing: -0.2px;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: var(--dark-text-1);
}

p {
  margin: 0;
}

a {
  cursor: pointer;
}

button:focus {
  outline: 2px solid var(--dark-focus);
  transition: all 0.05s ease;
}

input[type='text'] {
  margin: 0;
  padding: 12px;
  border-radius: var(--element-radius);

  width: 300px;
  height: -webkit-fill-available;
  font-size: 14px;

  background-color: var(--dark-color-2);
  border: 1px solid var(--dark-border);
  color: var(--dark-text-2);
}

input[type='text']:focus {
  outline: 2px solid var(--dark-focus);
  transition: all 0.05s ease;
}

#app {
  width: 100%;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

/* sidebar */

.sidebar {
  width: 300px;
  background-color: var(--dark-color-2);
  border-right: 1px solid var(--dark-border);
  position: fixed;
  height: 100%;
}

.sidebar-group {
  overflow-y: hidden;
  transition: 0.2s ease;
}

.sidebar-link {
  color: var(--dark-text-1);
  text-decoration: none;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.sidebar-link:hover {
  color: var(--dark-text-1);
}

.sidebar-link-group {
  color: var(--dark-text-2);
  font-weight: 500;
}

.sidebar-menu {
  padding: var(--sidebar-padding) var(--layout-padding);
}

.sidebar-menu-logo {
  padding: var(--layout-padding);
  height: 58px;
}

/* .sidebar-menu-group {
  margin-left: var(--sidebar-padding);
} */

.sidebar-icon {
  width: 21px;
  height: 21px;
}

.sidebar-icon-logo {
  width: 52px;
  height: 52px;
}

.sidebar-info {
  font-weight: 600;
  padding: var(--layout-padding);
  padding-bottom: var(--sidebar-padding);
  margin-top: var(--element-padding);
}

.sidebar-info, .sidebar-info svg {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* content */

.content {
  padding: 0 12%;
  width: -webkit-fill-available;
  margin-bottom: 180px;
}

.content-header {
  margin: var(--layout-padding) 0;
}

.content-title {
  font-size: 64px;
  font-weight: bolder;
  letter-spacing: -1px;
}

.navbar {
  position: sticky;
  height: 90px;
  width: 100%;
  top: 0;
  padding: 0 12%;
  width: -webkit-fill-available;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-button {
  margin: 0;
  padding: 10px;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-color-2);
  border: 1px solid var(--dark-border);
  color: var(--dark-text-2);
}

.navbar-left {
  width: 108px;
  display: flex;
  justify-content: space-between;
  padding: var(--layout-padding) 0;
  text-wrap: nowrap;
}

.navbar-right {
  height: 46px;
  padding: var(--layout-padding) 0;
}

.navbar-icon {
  font-size: 18px;
}

.text-title {
  color: var(--dark-text-1);
  font-weight: bold;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-description {
  color: var(--dark-text-2);
  font-size: smaller;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-grid {
  display: grid;
  grid-gap: 32px;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  overflow-x: hidden;
}

.card {
  white-space: nowrap;
  display: flex;
  flex-direction: column;
}

.card-placeholder {
  white-space: nowrap;
  display: flex;
  flex-direction: column;
}

.card-image {
  object-fit: scale-down;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: var(--element-radius);
  background-color: var(--dark-color-2);
  border: 1px solid var(--dark-border);
}

.card-content {
  padding-top: var(--element-padding);
}

/* player */

.player {
  position: fixed;
  display: flex;
  width: -webkit-fill-available;
  background-color: var(--dark-color-2);
  bottom: 0;
  padding: 0 12%;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  height: 90px;
}

.player-left {
  height: -webkit-fill-available;
  display: flex;
  align-items: center;
}

.player-left img {
  width: 64px;
  height: 64px;
  border-radius: var(--element-radius);
  object-fit: scale-down;
  background-color: var(--dark-color-2);
  border: 1px solid var(--dark-border);
  margin-right: var(--element-padding);
}

.player-left-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  line-height: 130%;
}

.player-center {
  height: -webkit-fill-available;
  position: fixed;
  display: flex;
  left: 50%;
  transform: translate(-50%, 0);
  justify-content: center;
  align-items: center;
}

.player-button {
  padding: 10px;
  font-size: 20px;
  border-radius: var(--element-radius);
  color: var(--dark-text-1);
  box-shadow: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: 0.2s ease;
}

.player-button-primary {
  font-size: 28px;
  margin: 0 10px;
}

.player-range {
  padding: 24px 0;
  cursor: pointer;
}

.player-range * {
  cursor: pointer;
}

.player-range-length {
  width: 100%;
  height: 3px;
  background-color: var(--dark-border);
  border-radius: var(--element-radius);
}

.player-range-now {
  width: 0;
  height: 3px;
  background-color: var(--dark-text-1);
  border-radius: var(--element-radius);
}

.player-right {
  display: flex;
  align-items: center;
  height: -webkit-fill-available;
  margin-right: -10px;
}

.player-length {
  width: 100%;
  position: fixed;
  padding: 0;
  left: 0;
  bottom: 64px;
}

.player-volume {
  display: flex;
  align-items: center;
}

.player-range-volume {
  width: 100%;
  height: 4px;
  background-color: var(--dark-border);
  border-radius: var(--element-radius);
  width: 100px;
  margin-right: 10px;
}

.button-disabled {
  color: var(--dark-disbaled);
}

.ElementFade-enter-active, .ElementFade-leave-active {
  transition: all 0.2s ease;
}

.ElementFade-enter-from, .ElementFade-leave-to {
  opacity: 0;
}

.SidebarFade-enter-active, .SidebarFade-leave-active {
  transition: opacity 0.2s ease;
}

.SidebarFade-enter-from, .SidebarFade-leave-to {
  opacity: 0;
}

.MenuTransition {
  max-height: 500px;
  opacity: 1;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  transition-delay: 0.1ms
}

.MenuTransitionHidden {
  max-height: 0;
  opacity: 0;
  overflow-y: hidden;
}

/* others */

*::-webkit-scrollbar{
  width: 0px; /* 4px */
  background-color: transparent;
}

*::-webkit-scrollbar-thumb{
  background-color: transparent;
  border-radius: 10px;
  border: 4px solid var(--dark-border);
}

*::-webkit-scrollbar-track{
  background-color: transparent;
}